
<nav>
    <div class="nav-wrapper">
        <div class="container"> <a href="#home" class="brand-logo">HabitDev</a> <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#home">Домой</a></li>
                <li><a href="#about">О приложении</a></li>
                <li><a href="#services">Преимущества</a></li>
                <li><a href="#pricing">Цены</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#home">Домой</a></li>
                <li><a href="#about">О приложении</a></li>
                <li><a href="#services">Преимущества</a></li>
                <li><a href="#pricing">Цены</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="home" class="scrollspy hero-image">
    <div class="overlay"></div>
    <div class="container hero-image-text">
        <div class="row">
            <div class="col s12">
                <div class="row center">
                    <h1 class="white-text">Мы хотим, чтобы Вы стали лучше.</h1>
                    <h5 class="col s12 white-text">И наше приложение поможет Вам в этом.</h5>
                    <a ui-sref="login" id="download-button" class="btn-large waves-effect waves-red red darken-2 space-top-1">Вход</a> </div>
            </div>
        </div>
    </div>
</div>

<section id="about" class="scrollspy">
    <div class="row space-top-3">
        <div class="col s12 offset-m1 m5">
            <h2 class="dash2">О приложении</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a class="btn-large waves-effect waves-red red darken-2 space-top-2" href="">Узнать больше</a> </div>
        <div class="col s12 m6">
            <div class="slider">
                <ul class="slides">
                    <li> <img src="../../app/images/s-4.jpg">
                        <div class="caption center-align">
                            <h3>Гибкая система уведомлений</h3>
                        </div>
                    </li>
                    <li> <img src="../../app/images/s-3.jpg">
                        <div class="caption left-align">
                            <h3>Работа с различных устройств</h3>
                            <h5>Мы заботимся о Вашем комфорте</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="scrollspy">
    <div class="container space-top-3">
        <div class="row center">
            <h2 class="dash">Наши преимущества</h2>
        </div>
        <div class="row center">
            <div class="col s12 m4">
                <div class="icon-circle z-depth-3"> <i class="small material-icons">picture_in_picture</i> </div>
                <h5>Современный интерфейс</h5>
                <p>Наше приложение было разработано с применением современных технологий, что обеспечивает комфорт и высокое быстродействие системы на различных устройствах.</p>
                <a class="btn waves-effect waves-red red darken-2 space-top-2" href="">Узнать больше</a> </div>
            <div class="col s12 m4">
                <div class="icon-circle z-depth-2"> <i class="small material-icons">done</i> </div>
                <h5>Высокое качество</h5>
                <p>В результате проведения большого количества тестов можно сказать с уверенностью, что наше приложение не уступает представленным на рынке конкурентам.</p>
                <a class="btn waves-effect waves-red red darken-2 space-top-2" href="">Узнать больше</a> </div>
            <div class="col s12 m4">
                <div class="icon-circle z-depth-2"> <i class="small material-icons">thumb_up</i> </div>
                <h5>Отличная обратная связь</h5>
                <p>Благодаря наличию выделенных серверов и круглосуточной техподдержки мы всегда сможем быть с Вами на связи.</p>
                <a class="btn waves-effect waves-red red darken-2 space-top-2" href="">Узнать больше</a> </div>
        </div>
    </div>
</section>

<section id="pricing" class="scrollspy">
    <div class="packages space-top-3">
        <div class="container">
            <div class="row center white-text">
                <h2 class="dash">Наши предложения</h2>
            </div>
            <div class="row white-text">
                <div class="col s12 m12 l4">
                    <div class="card-panel pricing">
                        <h5 class="plan-title center">Для одного пользователя</h5>
                        <span class="pricing-tag center">$5</span>
                        <ul class="price-list">
                            <li><i class="tiny material-icons">done</i> Доступ к основным функциям приложения</li>
                            <li><i class="tiny material-icons">done</i> Доступ к мобильной версии сайта</li>
                        </ul>
                        <a class="btn-large waves-effect waves-red red darken-2 space-top-2" href="#">Узнать больше</a> </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="card-panel pricing">
                        <h5 class="plan-title center">Для нескольких пользователей</h5>
                        <span class="pricing-tag center">$19</span>
                        <ul class="price-list">
                            <li><i class="tiny material-icons">done</i> Доступ к основным функциям приложения</li>
                            <li><i class="tiny material-icons">done</i> Доступ к мобильной версии сайта</li>
                            <li><i class="tiny material-icons">done</i> Возможность делиться достижениями</li>
                            <li><i class="tiny material-icons">done</i> Возможность делиться планами</li>
                        </ul>
                        <a class="btn-large waves-effect waves-red red darken-2 space-top-2" href="#">Узнать больше</a> </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="card-panel pricing">
                        <h5 class="plan-title center">Для нескольких пользователей + поддержка</h5>
                        <span class="pricing-tag center">$99</span>
                        <ul class="price-list">
                            <li><i class="tiny material-icons">done</i> Доступ к основным функциям приложения</li>
                            <li><i class="tiny material-icons">done</i> Доступ к мобильной версии сайта</li>
                            <li><i class="tiny material-icons">done</i> Возможность делиться достижениями</li>
                            <li><i class="tiny material-icons">done</i> Возможность делиться планами</li>
                            <li><i class="tiny material-icons">done</i> Дополнительная поддержка</li>
                            <li><i class="tiny material-icons">done</i> Тесная интеграция с социальными сетями</li>
                        </ul>
                        <a class="btn-large waves-effect waves-red red darken-2 space-top-2" href="#">Узнать больше</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="scrollspy">
    <div class="container space-top-3">
        <div class="row">
            <div class="col s12 m6">
                <h3 class="dash2">Обратная связь</h3>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Имя</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Фамилия</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Сообщение</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <button class="btn btn-large waves-effect waves-light red darken-2" type="submit" name="action">Отправить <i class="material-icons right">send</i> </button>
                </div>
            </div>
            <div class="col s12 offset-m1 m5">
                <h3 class="dash2">Наши контакты</h3>
                <h5>Адрес</h5>
                <p>Беларусь, г. Минск, ул. Космонавтов 17-25</p>
                <h5>Телефонный номер</h5>
                <p>8-(017)-999-999</p>
                <p>8-(017)-999-998</p>
                <h5>Email</h5>
                <p>support.habitdev@gmail.com</p>
                <p>info.habitdev@gmail.com</p>
            </div>
        </div>
    </div>
</section>

<div class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l6">
                <h5 class="white-text">Рекомендованные ресурсы</h5>
                <p class="grey-text text-lighten-4">Здесь представленны ссылки на другие наши продукты</p>
            </div>
            <div class="col s4 m4 l2">
                <h6 class="white-text">Links</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 4</a></li>
                </ul>
            </div>
            <div class="col s4 m4 l2">
                <h6 class="white-text">Links</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container white-text right-align"> &copy; 2017 VMSIS </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $(".button-collapse").sideNav();
        $('.carousel').carousel();
        $('.slider').slider({full_width: true});

        var scrollTop = 0;
        $(window).scroll(function(){
            scrollTop = $(window).scrollTop();
            if (scrollTop >= 600) {
                $('nav').addClass('scrolled-nav');
            } else if (scrollTop < 300) {
                $('nav').removeClass('scrolled-nav');
            }

        });


    });
</script>